body{
margin:0;
font-family:Arial;
background:#f4f6f9;
}

nav{
display:flex;
justify-content:space-between;
background:#111;
color:white;
padding:15px 40px;
}

nav ul{
display:flex;
list-style:none;
}

nav ul li{
margin-left:20px;
}

nav ul li a{
color:white;
text-decoration:none;
}

.hero{
text-align:center;
padding:100px;
background:#1e90ff;
color:white;
}

section{
padding:50px;
text-align:center;
}

.skills ul{
list-style:none;
}

.projects{
background:white;
}

.contact{
background:#111;
color:white;
}